h1.title {
  margin-top: -65px;
}

.content {
  margin-top: 35px;

  .avatar-area {
    float: left;
    margin-bottom: 20px;
    img {
      margin-top: 5px;
      margin-right: 8px;
    }
  }

  .tweet-area {
    padding-left: 50px;

    .header {
      p.user {
        text-align: left;
        font-weight: bold;
        width: 55%;
        float: left;
      }
      p.date {
        height: 28px;
        font-size: 15px;
        text-align: right;
        padding-top: 2px;
      }
    }
  }
}